<ion-header>
  <ion-toolbar>
    <ion-title>bill-list</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item *ngFor="let bill of billList"
              [routerLink]="'/counter-list/' +  bill.id">
      <div>
      <h3>{{bill.name}}</h3>
      <div>
        {{bill.description}}
        <br>
        {{bill.dateTime.toISOString() | date: 'd.MM.yyyy'}}
      </div>
      </div>
    </ion-item>
  </ion-list>

  <ion-fab vertical="bottom" horizontal="end">
    <ion-fab-button (click)="onClickOnAddBill()">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
